<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <img src="https://framerusercontent.com/images/J4KCYbSCS8YX2aIUvKZYLqcPQfg.png?scale-down-to=512" alt="Bootstrap" width="30" height="24">
      Senja
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center ms-auto mb-2 mb-lg-0">
        <% unless user_signed_in? %>
          <li class="nav-item">
            <%= link_to new_user_session_path, style: "text-decoration: none;" do %>
              <span class="nav-link">Log in</span>
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= new_user_registration_path %>">
              <button class="btn btn-dark">Get started for free</button>
            </a>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, style: "text-decoration: none;" do %>
              <span class="nav-link">Log out</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
